<h2>Contact us <cite>For Strategy Consulting</cite></h2>
<form class="contact" method="POST" action="/interest?cat=strategy"><div>
  <label for="contact_name">Name: <input id="contact_name" type="text" name="name"/></label>
  <label for="contact_email">E-Mail: <input id="contact_email" type="text" name="email"/></label>
  <label for="contact_company">Company: <input id="contact_company" type="text" name="company"/></label>
  <label for="contact_message">Message: <textarea id="contact_message" name="message"></textarea></label>
  <input type="submit" value="Send"/>
  </div>
</form>
