/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#4a4a4a;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#4a4a4a;}
h1 {
  font-size:3em;line-height:1;margin-bottom:0.5em;
  font-family: helvetica;
  font-style:italic;
  font-weight:normal;
}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a:active {outline:none; }
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#C3D9FF;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
/* visual design */
a:focus {
  -moz-outline-style: none;
  outline-style: none;
  text-decoration:underline;
  text-shadow: 1px 1px 5px #fff;
}

.clear {
  clear:both;
}
body {
  min-width:1100px;
}
#header {
  background:#FA9E1E url(/images/strip.png) repeat;
  height:66px;
  padding:5px;
}
#header h2,
#header h2 a,
#header h1,
#header h1 a {
  background:transparent url(/images/logo.png) no-repeat;
  text-indent: -9999px;
  display:block;
  height:66px;
  width:250px;
  float:left;
  margin:0;
  padding:0;
}
#header h2 a:hover,
#header h1 a:hover {
  background:transparent url(/images/logog.png) no-repeat;
}
#header h3 {
  float:right;
  margin:0px 0px 0px 10px;
  padding:0px 10px 0px 0px;
  height:66px;
  font-size:18px;
  font-weight:normal;
  color:#fff;
  position:relative;
  line-height:66px;
  z-index:50; /* for older ie */
  background:transparent url(/images/divider.png) no-repeat right center;
}
#header h3.noline {
  background:none;
}
.ie6 #header {
  width:160px;
}
#header h3 a {
  text-decoration:none;
  display:block;
  height:66px;
  color:#fff;
}
#header h3 a:hover {
 /* text-decoration:underline;*/
  text-shadow: 1px 1px 5px #fff;
  cursor:pointer;
  /*background:transparent url(/images/glow.png) no-repeat center;*/
}
.ie #header h3 a {
/*  background:#FAA61F;*/
}
.ie #header h3 a:hover {
  /*filter:invert mask(color=#000000) glow(color=#FFFFFF, strength=20) chroma(color=#000000) ;*/
  /*filter:progid:DXImageTransform.Microsoft.Glow(Color=#FFFFFF, Strength=0.5);*/
  color:#ffffff;
  /*filter: glow(color=#FFFFFF, strength=0.8) blur(Add = 1, Direction = 225, Strength = 25);*/
  /*filter:mask(color=#FFFFFF) glow(color=#FFFFFF, strength=0.8) mask(color=#FAA61F); *//* mask(color=#FAA61F) invert alpha(Opacity=70); */
  cursor:pointer;
}
#content {
  background:transparent url(/images/center-grad.png) repeat-x;
  min-height:500px;
  padding-top:20px;
}
.page #content {
  background:transparent url(/images/lcenter-grad.png) repeat-x;
}
.our-team #content {
  background:transparent url(/images/center-grad.png) repeat-x;
}
.ufocus {
  margin:0 auto;
  width:1020px;
}
/* Footer chrome start */
#footer {
  background: #fa9e1e url(images/strip.png) repeat-y;
  height:29px;
  line-height:29px;
  color:#fff;
  text-align:center;
  clear:both;
}
/* Footer chrome end */

#content h1,
#content h2,
#content h3,
#content h4 {
  color:#FAA61F;
  text-transform:uppercase;
  font-style:normal;
}
#content h2,
#content h3,
#content h4 { margin:0; }
#content h1 { font-size:26px; }
#content h2 { font-size:18px; }
#content h3 { font-size:16px; }
#content h4 { font-size:14px; }
#content,
#content p {
  font-size:12px;
}
#content h1 a,
#content h2 a,
#content h3 a,
#content h4 a {
  color:#f89f1d;
  text-transform:uppercase;
  text-decoration:none;
}
#content h1 a:hover,
#content h2 a:hover,
#content h3 a:hover,
#content h4 a:hover {
  text-shadow: -1px -1px 2px #f89f1d;
  text-shadow: 1px 1px 2px #f89f1d;
}

#stage {
  position:relative;
  top:0px; left:0px;
  height:375px;
}
#pload {
  left:225px;
  position:absolute;
  top:140px;
  width:476px;
  height:124px;
}
#pload video {
  position:relative;
  width:476px;
  height:124px;
}
#sections {
  margin-bottom:140px;
}
#sections .section {
  float:left;
  width:225px;
  margin-left:20px;
}
#team {
  position:absolute;
  top:-18px;
  left:0px;
}
/* about styles */

#team-content #stage {
  height:300px;
}

.shell {
  background:transparent url(/images/about-box-left-border.png) repeat-y scroll right center;
  margin:0 auto;
}
.shell {
  width:1020px;
}
.container {
  background:transparent url(/images/about-container-grad.png) repeat-x scroll left bottom;
  border:1px solid #DCDCDC;
  margin-bottom:10px;
  min-height:555px;
  width:100%;
}

.container .box {
	float:left; 
	width:490px; 
	padding:14px 10px;
}

.container h3 {
  color:#4a4a4a; 
  font-size:18px; 
  font-weight:bold; 
  font-family:arial;
  margin-bottom:.1em;
}

.container h4 {
  color:#a9a9a9; 
  font-size:16px; 
  font-weight:bold; 
  font-family:arial;
}
.section a.icon {
  width:216px;
  height:206px;
  display:block;
  text-indent:-9999px;
}
.dl {
  position:relative;
  height: 330px;
}
.dl .banner {
  left:0px;
  position:absolute;
  top:-19px;
  border:1px solid #ccc;
  border-top:none;
}
form.contact textarea {
  width:480px;
  height:300px;
  padding:4px;
}
form.contact input[type="text"] {
  border:1px solid #999;
  width:480px;
  padding:4px;
}
.contact h2 cite {
  font-size:9px;
}
/* blog styles */
img.alignleft { float:left; margin-right:20px; }
.excerpt { clear:both; }
.excerpt p { clear:both; }
div.post { clear:both; margin-bottom:20px; }
div.post h2 { margin-bottom:0px; margin-top:10px; }
.post .shell,
.blog .shell { background:transparent url(/images/blog-box-left-border.png) repeat-y scroll right center; }
.post .boxl,
.blog .boxl {
  width: 700px;
}
.post .boxr,
.blog .boxr {
  width: 270px;
}
