<div class="about container">
  <div class="about box">
    <h3>How Anerian is different?</h3>
    <h4>We thrive on productive chaos.</h4>
    <p>Our team members are smart, creative, energetic, passionate and experienced, and we 
       develop innovative solutions to meet our clients' needs.</p>

    <p>Our office environment is fun, supportive, and inspiring. We spend a lot of time here, so 
    it's important to enjoy each other's company.</p>

    <p>We push each other to do our best work, encourage everyone to share their ideas, and 
    respect our colleagues' diverse talents, and unique perspectives.</p>

    <p>There's an impressive complement and array of talent at Anerian. Our team members 
    have:</p>

    <ul>
      <li>Held leadership positions at some of the most innovative strategic and technological companies, including AOL, Discovery Communications, IBM, and Apple</li>
      <li>Revolutionized social marketing through groundbreaking endeavors, such as building and launching the Revolution Health site, a leading health-care and social networking site</li>
      <li>Worked in the web since its infancy and successfully launched more than 30 new media platforms that have been used by millions</li>
      <li>Managed major branding initiatives for such companies as Verizon, SmithKline Beecham, Hershey Corp., the Peace Corps, Girl Scouts of the USA, IBM, and The World Bank</li>
      <li>Directed video productions, including planning, producing, script writing, filming, editing, and video streaming for global media sites</li>
    </ul>
  </div>

  <div class="about box">
    <h3>What Does Anerian Mean?</h3>
    <p>A word about the name Anerian. We're often asked what it means. Translated from Old English, it means: <strong>TO DELIVER</strong> &ndash; and that's what we do.</p>
    <p>One of our employees came up with the name and we thought it was a great idea. It's short, simple, distinctive, and meaningful &ndash; plus it's a great conversation starter!</p>
    <? videoPlayer("player", "http://anerian.ws/files/NGQxNGU1ZGI1YTI0/1wc4Ob3N5gme", 450, 338); ?>
  </div>

  <div class="clear"></div>
</div>
<div class="about container">

  <div class="about box">
    <h3>Steve Lynott</h3>
    <h4>President &amp; Founding Partner</h4>
    <h3>Marty Fisher</h3>
    <h4>Chief Technology Officer &amp; Founding Partner</h4>
    <h3>Sonu Singh</h3>
    <h4>CEO &amp; Founding Partner</h4>
    <h3>Regina Perkins</h3>
    <h4>Sr VP &amp; Practice Leader</h4>
    <h3>Ed Anderson</h3>
    <h4>Sr VP &amp; Practice Leader</h4>
    <h3>Peter Jacobs</h3>
    <h4>Sr VP &amp; Health IT</h4>
    <h3>Donna Engelgau</h3>
    <h4>VP &amp; Interactive Media</h4>
  </div>
  <div class="about box">
    <h3>Todd Fisher</h3>
    <h4>Director of Engineering</h4>
    <h3>Jonathan Phillips</h3>
    <h4>Information Architect &amp; Systems Engineer</h4>
    <h3>Min Kim</h3>
    <h4>Mobile Architect &amp; Systems Engineer</h4>
    <h3>Zach Hannes</h3>
    <h4>Web Producer & Content Ninja</h4>
    <h3>Corrie Davidson</h3>
    <h4>Multimedia Specialist</h4>
    <h3>Liz Wheatley</h3>
    <h4>Illustrator</h4>
    <h3>Renee Alarid</h3>
    <h4>Senior Visual Designer</h4>
    <h3>Beata Dobrocsi</h3>
    <h4>Brand specialist &amp; Print Designer</h4>
  </div>
  <div class="clear"></div>
</div>
