<div class="about container">
  <div class="about box">
    <%= slot(:about_left) %>
  </div>

  <div class="about box">
    <%= slot(:about_right) %>
  </div>

  <div class="clear"></div>
</div>

<div class="about container">

  <div class="about box">
    <%= slot(:about_left_lower) %>
  </div>
  <div class="about box">
    <%= slot(:about_right_lower) %>
  </div>
  <div class="clear"></div>

</div>
