<div class="about container">
  <div class="about box">
  </div>

  <div class="about box">
  </div>

  <div class="clear"></div>
</div>

<div class="about container">

  <div class="about box">
  </div>
  <div class="about box">
  </div>
  <div class="clear"></div>

</div>
