<div class="dl">
  <img class="banner" height="331px" width="1020px" src="/images/anerian-way/dl_anerianway.jpg"/>
</div>
<h1>Anerian Way - <cite>Creating Impact Through Innovation</cite></h1>
<div class="shell">
  <div class="container">
    <div class="box">
      <p>
        <img alt="Business Trends and Goals" style="float:left;margin-right:20px;margin-top:10px;" src="/images/anerian-way/explorationandplanning.jpg"/>
        Summary - The Anerian Way is a proven approach to opening new markets and generating new revenue streams that we use to help fortune 100 companies, associations and government agencies. Our approach is highly interactive, dynamic, adaptive and flexible and our successes are due to this approach, the team and the commitment of motivated leaders to make a difference. 
        The Team - The cornerstone of a successful business strategy involves working with our clients to choose the best team to tackle the job at hand. We seek people who are excited by challenge, who can work with high degrees of complexity and ambiguity and who can run and spin plates at the same time. Anerian understands that an A-team, driven by the energy and enthusiasm to succeed, is critical to challenging and exciting work that lies ahead. 
        The Motivated Leader - We enjoy working with leaders who find change and innovation exciting and exhilarating. Anerian works with its clients to tackle the big challenges and take on new initiatives. Our clients are not always clear on the path, but they are clear on the results - and together, with focus and persistence, we continue to deliver those results. 
      </p>

    </div>
    <div class="box contact">
      <h3>Guiding Principles</h3>
      <p>The success of the Anerian Way lies in a set of principles we adhere to throughout the process we employ to help deliver results to our clients. Those include: </p>
      <ul>
        <li><strong>Communications</strong>: Consistent messages around status, risks and milestones ensure that key stakeholders are connected to the project.</li>
        <li><strong>Collaboration</strong>: By involving all stakeholders in brainstorming, problem solving and design, Anerian helps foster ideas that have the greatest chance for success.</li>
        <li><strong>Context</strong>: We find the use of large-format models, roadmaps and game-boards to be effective tools in providing the contextual framework necessary to ensure all stakeholders understand the overall project scope, dimensions and intent.</li>
      </ul>
       
      <h3>The Approach</h3>
      <ul>
        <li><strong>Assessment and Diagnostic Indicators</strong>: Anerian has developed a systematic approach to analyzing business needs through three lenses: The customer, the internal staff and our own business diagnostic tools. These tools help craft a comprehensive picture of where the organization is in terms of its goals and market positioning. </li>
        <li><strong>Analysis and Innovation</strong>: We use a collaborative planning model to review the results of the assessment, trends and gaps and work across the organization to build a comprehensive view of the alternatives. We have a set of tools that allows us to explore many different alternatives quickly and to gain consensus and alignment on the select few. </li>
        <li><strong>Exploration and Planning</strong>: Anerian has a proven method for developing a complete planning model that our clients appreciate as it gives a high-level view of the long-term roadmap combined with the short-term tasks to achieve success. </li>
        <li><strong>Implementation and Impact</strong>: Once we have a plan with a high degree of commitment, we develop a specific timeline, milestones and checkpoint reviews to ensure the executive team and production team remain aligned and nimble so they can quickly resolve problems as they arise. </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
