<div class="body">
  <div class="main">
    <h1>Government<cite>How we help</cite></h1>
    <p>Government agencies face a unique dilemma - limited resources (retirements and shrinking budgets), changing expectations (citizen-centric solutions, social networking, and Web 2.0), and growing demands (HSPD-12, TIC, EINSTEIN, and e-Discovery). All that on top of an increasingly complex economic and political environment.</p>
  </div>
  <div class="support">
    <h4>Spotlight</h4>
    <h3>CoffeeMe iPhone App now on iTunes</h3>
    <p>Anerian has just launched a mobile application for the iPhone that gives you all the information on the closest coffee shops, from directions to nutritional info. Learn more about CoffeeMe, the latest product from Anerian, LLC.</p>
  </div>
</div>
