<div class="dl">
  <img class="banner" height="331px" width="1020px" src="/images/consulting/dl_consulting.jpg"/>
</div>
<h1>Seminars</h1>
<p>As Management Consultants, Anerian has the ability to quickly develop more efficient and effective solutions for key business initiatives.</p>
<div class="shell">
  <div class="container">
    <div class="box">
      <h2>Executive Workshop</h2><cite>Building Leadership Innovation Capacity</cite>
      <p>
      <strong>Introduction</strong> - Google “innovation” and see what you get an un-digestible number of hits in every public and private industry sector.  Any sector that you type in -  Education, Health Care, Government, IT, Product, Social Networking all return hundreds of thousands of hits, and yet we struggle to figure out what innovation  is, and isn’t, what the recipe is, how to bottle it, and more importantly how to get our teams to drink more of it.
      </p>
      <p>
      Join the Anerian team for a highly interactive forum and discussion with case studies and examples on how innovators do it  – the wins, the missed opportunities and the things that get one innovation adopted and another consigned to dust .  Our examples include tomato farming, coffee beans and stirrups.  
      </p>
      <strong>Ideal Candidates</strong>
      <p>
      Teams who are grappling with common problems and looking for new answers, new approaches and tools to solve chronic issues, deliver better services, manage, collaborate and communicate more effectively.
      </p>
      <ol>
      <li>Program or product managers</li>
      <li>Executive teams seeking new methods, products and services</li>
      <li>Event planners who want a high energy impact</li>
      </ol>

      <strong>Location</strong>
      <p>
      The workshop can be delivered at your office, at a major event or at the Anerian Innovation Center.
      </p>
      <strong>What you will take away </strong>
      <ol>
      <li>Understanding what makes innovators tick</li>
      <li>Practical ideas on developing your innovation capability </li>
      <li>Insight into 21st century tools that can enable innovation</li>
      <li>Commitment to the idea that “Innovation is the specific instrument of entrepreneurship. The act that endows resources with a new capacity to create wealth” (Peter Drucker).</li>
      </ol>
      <p>
        <strong>Cost</strong> - $4,900 corporate, $3,900 Government and Non-profit<br/>
        <strong>Attendee’s</strong> - Up to 15<br/>
        <strong>Additional attendee</strong> - $395<br/>
      </p>

      <strong>Facilitators</strong>
      <p>
      Steve Lynott – President, Anerian, LLC – has been an avid entrepreneur and business owner most of his career.  He is an experienced business executive, product developer and marketing strategist.  He has launched several companies and products in the areas of consulting, software, web development and education. His work focuses on helping executives identify and implement new innovations in education, health care, technology, media and energy related fields.
      </p>
      <p>
      Dr Naomi Stanford - Vice President, Business Design  - Anerian, LLC - Her current work is leading large scale organization design and change programs in Government and commerce.  Her skills and experience were honed in the UK private sector where she worked in very large multi-national companies.   She has a PhD (focused on growing leadership capability).  She is the author of two books on organization design: Organization Design: The Collaborative Approach, and The Economist Guide to Organization Design.  She has written many articles on aspects of organization design and development and frequently spoken on the topics at conferences. 
      </p>
    </div>
    <div class="box">
      <h2>Innovation Forum – Craft Your Next Big Idea!</h2>
      <img style="float:right" src="/images/strategy/innovation-forum.png" width="252" height="234"/>
      <strong>Introduction</strong>
      <p>
      Thomas Edison, Eric Johnson, Ben Franklin and many other inventors shared a passion for exploration.  They came up with new ideas, they used a semi-formal approach to socialize, vet and test these ideas and they failed fast and often.  Anerian uses this same type of approach to help executives, product and project teams and partnerships to explore problems and solutions: high speed, high impact and a lot of fun.
      </p>
      <strong>Overview</strong>
      <p>
      Bring your team to the Anerian Design Center for a highly interactive session, engage in high impact brainstorming – that delivers results.  With 10, 50, 100 or 1,000 participants Anerian employs proven tools and methods to help teams un-cover and discover new ideas, products and systems that will have a profound impact on business results.
      </p>
      <strong>Ideal Opportunities</strong>
      <p>
      Business issues that need an immediate response
      Requests from above that require new thinking
      A need to refresh a product or service offering
      New opportunities in the market that require new thinking
      </p>

      <% if params[:signup] == '1' %>
        <h2>Thank you!  We will be in contact soon</h2>
      <% else %>
      <form class="contact" action="http://leads.captico.com/leads/incoming" method="POST">
        <h2>Sign Up Today and get a Free list of effective innovation tips.</h2>
        <table cellpadding="10" cellspacing="10" style="width:350px;margin:0 auto">
          <tr>
            <td style="margin-top:10px;text-align:left"><label>Your Name: </label></td>
            <td style="text-align:right"><input tabindex="1" type="text" name="lead[name]"/></td>
          </tr>
          <tr>
            <td style="text-align:left"><label>Your Email: </label></td>
            <td style="text-align:right"><input tabindex=2" type="text" name="lead[email]"/></td>
          </tr>
          <tr>
            <td style="text-align:left"><label>Your Phone: </label></td>
            <td style="text-align:right"><input tabindex="3" type="text" name="lead[phone]"/></td>
          </tr>
          <tr>
            <td style="text-align:left"><label>Your Company: </label></td>
            <td style="text-align:right"><input tabindex="4" type="text" name="lead[fields[company]]"/></td>
          </tr>
          <tr>
            <td style="text-align:right" colspan="2"><h4>Topics of interest</h4>
            <label for="client_cut_cost">Cutting Costs: </label>
            <input tabindex="5" type="checkbox" id="client_cut_cost" name="lead[fields[cut_cost]]" value="cutting costs"/></td>
          </tr>
          <tr>
            <td style="text-align:right" colspan="2"><label for="client_revenue">Increasing Revenue: </label>
            <input tabindex="6" id="client_revenue" type="checkbox" name="lead[fields[revenue]]" value="increasing revenue"/></td>
          </tr>
          <tr>
            <td style="text-align:right" colspan="2"><label for="diversification">Product Diversification: </label>
            <input tabindex="7" id="diversification" type="checkbox" name="lead[fields[diversification]]" value="product diversification"/></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:right"><label>Other: </label><textarea name="lead[fields[other]]"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:right"><input tabindex="8" type="submit"/></td>
          </tr>
        </table>
        <input type="hidden" name="lead[client_id]" value="1"/>
        <input type="hidden" name="dest" value="http://anerian.com/consulting?signup=1"/>
      </form>

      <strong>Call today – 888-945-8882 or email us at <a href="mailto:innovation@anerian.com">innovation@anerian.com</a></strong>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>
