<h1>Consulting</h1>
<p>As Management Consultants, Anerian has the ability to quickly develop more efficient and effective solutions for key business initiatives.</p>
<div id="sections">
  <div id="innov" class="section">
    <a rel="lightbox" class="icon" href="/innovation"></a>
    <h2>Innovation Forum</h2>
    <p>Highly Interactive Strategic Planning...<br/><a href="/innovation">Learn More</a></p>
  </div>
  <div id="strategy" class="section">
    <a rel="lightbox" class="icon" href="/strategy"></a>
    <h2>Business Strategy</h2>
    <p>Benchmark your firm against the best...<br/><a href="/strategy">Learn More</a></p>
  </div>
  <div id="marketing" class="section">
    <a rel="lightbox" class="icon" href="/marketing"></a>
    <h2>Marketing and Branding</h2>
    <p>Revitalize your image, attract new clients, open new markets...<br/><a href="/marketing">Learn More</a></p>
  </div>
  <div id="interactive" class="section">
    <a rel="lightbox" class="icon" href="/interactive"></a>
    <h2>Interactive Web</h2>
    <p>Grow your business online with leverage and profits...<br/><a href="/interactive">Learn More</a></p>
  </div>
  <div id="talent" class="section">
    <a rel="lightbox" class="icon" href="/talent"></a>
    <h2>CXO Coaching and advisory services</h2>
    <p>A few hours with Anerian will make your job more enjoyable...<br/><a href="/talent">Learn More</a></p>
  </div>
</div>
<% content_for :head do %>
  <link href="/css/lightbox.css" type="text/css" rel="stylesheet"/>
<% end %>
<% content_for :foot do %>
  <script type="text/javascript" src="/js/lb.js"></script>
<% end %>
