<div id="stage">
  <div class="box">
    <? videoPlayer("video-tag", "test",524,288); ?>
  </div>
</div>
<div id="navbar" class="tab_box">
  <div class="tabbed_nav">
    <div class="tab selected">
      <h4 onclick="showTab('anerian-way')">Anerian Way</h4>
      <div id='anerian-way' class="box">
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
      </div>
    </div>
    <div class="tab">
      <h4 onclick="showTab('management-consulting')">Consulting</h4>
      <div id='management-consulting' class="box">
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
      </div>
    </div>
    <div class="tab">
      <h4 onclick="showTab('interactive-media')">Interactive Media</h4>
      <div id='interactive-media' class="box">
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
      </div>
    </div>
    <div class="tab">
      <h4 onclick="showTab('anerian-labs')">Anerian Labs</h4>
      <div id='anerian-labs' class="box">
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
        <img src="/matic.jpg"/>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <h2>Why Choose Us?</h2>
  <p>In today's marketplace, innovation is key. Companies, goverments, and associations need the support, experience, and know-how
  to help them develop a smart - and unique - approach to their business strategy.</p>
  <p>As a highly seasoned strategic consulting company, Anerian is uniquely qualified to help businesses realign to meet their business
  goals and objectives.  We do that by offering a complete suite of integrated consulting and technology services.
  We help our clients create, build, and revitalize their organizations and brands to remain relevant and thrive in the new economy.</p>
  <p>Anerian clients experience dramatic improvements in their business and interactive-media strategies because - as innovators
  ourselves - we understand the importance of business transformation - and bottom-line revenue generation.</p>
</div>
