<div id="stage">
  <img id="pload" src="/images/hlogo.png"/>
</div>
<div id="sections">
  <div id="strategy" class="section">
    <h2><a href="/strategy">Strategy</a></h2>
    <cite>Leveraging assets and technologies</cite>
    <a class="icon" href="/strategy">Strategy Consulting and Business Solutions</a>
  </div>
  <div id="marketing" class="section">
    <h2><a href="/marketing">Marketing</a></h2>
    <cite>Generating maximum traffic and revenue</cite>
    <a class="icon" href="/marketing">Marketing Promotion and SEO/SEM</a>
  </div>
  <div id="interactive" class="section">
    <h2><a href="/interactive">Interactive</a></h2>
    <cite>We understand how to drive change</cite>
    <a class="icon" href="/interactive">Interactive Media Applications</a>
  </div>
  <div id="mobile" class="section">
    <h2><a href="/mobile">Mobile</a></h2>
    <cite>Leading developers of mobile applications</cite>
    <a class="icon" href="/mobile">Mobile Applications</a>
  </div>
  <div class="clear"></div>
</div>
