<% content_for :head do %>
<style type="text/css">
<% css_content do %>
#strategy a.icon {
  background:transparent url(/images/home/thumbnail_sprite_strategy.png) 0px 0px no-repeat;
}
#strategy a.icon:hover {
  background-position: 0px -209px;
}
#consulting a.icon {
  background:transparent url(/images/home/thumbnail_sprite_consulting.png) 0px 0px no-repeat;
}
#sections .sections:hover,
#consulting a.icon:hover {
  background-position: 0px -209px;
}
#anerian a.icon {
  background:transparent url(/images/home/thumbnail_sprite_anerian.png) 0px 0px no-repeat;
}
#sections .sections:hover,
#anerian a.icon:hover {
  background-position: 0px -209px;
}
#insights a.icon {
  background:transparent url(/images/home/thumbnail_sprite_insights.png) 0px 0px no-repeat;
}
#sections .sections:hover,
#insights a.icon:hover {
  background-position: 0px -209px;
}
<% end %>
</style>
<% end %>
<div id="stage">
  <div id="pload">
    <img id="plogo" width="476" height="124" src="/images/hlogo.png"/>
    <video style="display:none" width="476" height="124" autobuffer>
      <source src="/videos/animation_text.mp4" type="video/mp4"/>
      <source src="/videos/animation_text.ogv" type="video/ogg"/>
      <!--<img id="plogo-fallback" width="476" height="124" src="/images/hlogo.png"/>-->
    </video>
  </div>
</div>
<div id="sections">
  <div id="strategy" class="section">
    <h2><a href="/strategy">Strategy</a></h2>
    <cite>Leveraging assets and technologies</cite>
    <a class="icon" href="/strategy">Strategy Consulting and Business Solutions</a>
  </div>
  <div id="consulting" class="section">
    <h2><a href="/consulting">Seminars</a></h2>
    <cite>Helping to grow your business</cite>
    <a class="icon" href="/consulting">Management consulting services</a>
  </div>
  <div id="anerian" class="section">
    <h2><a href="/anerian-way">Anerian Way</a></h2>
    <cite>We understand how to drive change</cite>
    <a class="icon" href="/anerian-way">Driving change</a>
  </div>
  <div id="insights" class="section">
    <h2><a href="/blog">Insights</a></h2>
    <cite>Keep up on Anerian</cite>
    <a class="icon" href="/blog">Anerian Way</a>
  </div>
  <div class="clear"></div>
</div>
<% content_for :foot do %>
<% if RACK_ENV=='production' %>
  <script type="text/javascript" src="/scripts-min.js"></script>
<% else %>
  <script type="text/javascript" src="/scripts.js"></script>
<% end %>
  <script type="text/javascript">
  <% js_content do %>
    var HTML5Video = html5VideoCheck();
    if( !HTML5Video ) {
      document.write('<' + 'script type="text/javascript" src="/scripts/tools.flashembed-1.0.3.min.js"' + '></' + 'script>');
    }
    window.onload = function() {
      var video = new AnVideo(ID('pload'), ID('plogo'));

      video.observe("ended", function() {
        video.hide();
        ID("plogo").style.display = 'block';
      });

      video.play();
    };

    vidCB = function(){ };
    function flashCB() {
      vidCB();
    }

    function AnVideo(el,cover,options) { this.init(el,cover,options); }
    AnVideo.prototype = {
      init: function(el,cover,options) {
        this.el = el;
        this.cover = cover;
        if( HTML5Video ) {
          this.video = el.getElementsByTagName('video')[0];
        }
        else {
          this.parentNode = el.parentNode;
          this.originalHTML = el.parentNode.innerHTML;
          this.video = flashembed(el,{src:'/flash/video-lite/anerian_video.swf',wmode:'transparent'}, {videoUrl:'/videos/animation_text.mp4',funcString:'flashCB'});
          vid = this.video;
        }
      },
      play: function() {
        this.cover.style.display = 'none';
        if( HTML5Video ) {
          this.video.style.display = 'block';
          this.video.play();
        }
      },
      observe: function(ev,cb) {
        if( !HTML5Video ) {
          vidCB = cb;
        }
        else {
          this.video.addEventListener(ev, cb, true);
        }
      },
      hide: function() {
        if( HTML5Video ) {
          this.video.style.display = 'none';
        } else {
          this.parentNode.innerHTML = this.originalHTML;
        }
      }
    };
    <% end %>
  </script>
<% end %>
