<div id="stage">
  <img id="pload" src="/images/hlogo.png"/>
</div>
<div id="sections">
  <div id="strategy" class="section">
    <h2><a href="#strategy">Strategy</a></h2>
    <cite>Leveraging assets and technologies</cite>
    <a href="#strategy"><img src="/images/hstrategy.png"/></a>
  </div>
  <div id="marketing" class="section">
    <h2><a href="#marketing">Marketing</a></h2>
    <cite>Generating maximum traffic and revenue</cite>
    <a href="#marketing"><img src="/images/hmarketing.png"/></a>
  </div>
  <div id="interactive" class="section">
    <h2><a href="#interactive">Interactive</a></h2>
    <cite>We understand how to drive change</cite>
    <a href="#interactive"><img src="/images/hinteractive.png"/></a>
  </div>
  <div id="mobile" class="section">
    <h2><a href="#mobile">Mobile</a></h2>
    <cite>Leading developers of mobile applications</cite>
    <a href="#mobile"><img src="/images/hmobile.png"/></a>
  </div>
</div>
