<% content_for :head do %>
<style type="text/css">
<% css_content do %>
#strategy a.icon {
  background:transparent url(/images/home/thumbnail_sprite_strategy.png) 0px 0px no-repeat;
}
#strategy a.icon:hover {
  background-position: 0px -209px;
}
#consulting a.icon {
  background:transparent url(/images/home/thumbnail_sprite_consulting.png) 0px 0px no-repeat;
}
#sections .sections:hover,
#consulting a.icon:hover {
  background-position: 0px -209px;
}
#anerian a.icon {
  background:transparent url(/images/home/thumbnail_sprite_anerian.png) 0px 0px no-repeat;
}
#sections .sections:hover,
#anerian a.icon:hover {
  background-position: 0px -209px;
}
#insights a.icon {
  background:transparent url(/images/home/thumbnail_sprite_insights.png) 0px 0px no-repeat;
}
#sections .sections:hover,
#insights a.icon:hover {
  background-position: 0px -209px;
}
<% end %>
</style>
<% end %>
<div id="stage">
  <div id="pload">
    <img id="plogo" width="476" height="124" src="/images/hlogo.png"/>
    <video style="display:none" width="476" height="124" autobuffer>
      <source src="/videos/home/logo.mov" type="video/mp4"/>
      <source src="/videos/home/logo.ogv" type="video/ogg"/>
      <!--<img id="plogo-fallback" width="476" height="124" src="/images/hlogo.png"/>-->
    </video>
  </div>
</div>
<div id="sections">
  <div id="strategy" class="section">
    <h2><a href="/strategy">Strategy</a></h2>
    <cite>Leveraging assets and technologies</cite>
    <a class="icon" href="/strategy">Strategy Consulting and Business Solutions</a>
  </div>
  <div id="consulting" class="section">
    <h2><a href="/consulting">Consulting</a></h2>
    <cite>Helping to grow your business</cite>
    <a class="icon" href="/consulting">Management consulting services</a>
  </div>
  <div id="anerian" class="section">
    <h2><a href="/anerian-way">Anerian Way</a></h2>
    <cite>We understand how to drive change</cite>
    <a class="icon" href="/anerian-way">Driving change</a>
  </div>
  <div id="insights" class="section">
    <h2><a href="/blog">Insights</a></h2>
    <cite>Keep up on Anerian</cite>
    <a class="icon" href="/blog">Anerian Way</a>
  </div>
  <div class="clear"></div>
</div>
<% content_for :foot do %>
  <script type="text/javascript" src="/scripts.js"></script>
  <script type="text/javascript">
    if( !html5VideoCheck() ) {
      document.write('<' + 'script type="text/javascript" src="/scripts/flowplayer-3.1.2.min.js"' + '></' + 'script>');
    }
    window.onload = function() {
      var video = new AnVideo(ID('pload'), ID('plogo'), {
        flash: {
          plugins: {
            content: null,
            controls: null
          },
          clip: {
            url: "/videos/home/logo.mov",
            autoPlay: true, 
            autoBuffering: true
          }
        }
      });

      video.observe("ended", function() {
        try {
        //console.log("start ended callback");
        // show the img
        video.hide();
        //ID("plogo-fallback").style.display = "none";
        ID("plogo").style.display = 'block';
        //console.log("called ended");
        } catch( e ) {
          console.error(e);
        }
      });

      video.play();
    }
  </script>
<% end %>
