<h1>Innovation Forum and Workshops </h1>
<ul>
  <li><strong>Problem</strong> - The most used -- and least understood phrase in business -- is 'innovation to drive change'. While many businesses realize that change is needed, particularly in this economy, they don't always understand that underlying problems are structural in nature and can’t be addressed with conventional thinking, strategies and tactics.  </li>
  <li><strong>Solution</strong> - Anerian is a recognized expert in new ways of thinking about old business problems. As innovators, we have introduced dozens of revenue-enhancing products, spearheaded massive changes in organizations and devised whole new models to crack daunting challenges like: Runaway IT budgets, virtual learning, social entrepreneurship and failing business models. </li>
  <li><strong>Story</strong> - A 100-year-old media company seeking new revenue sources to replace outdated product offerings and ineffective advertising came to Anerian for new solutions. In fewer than 60 days, Anerian devised new market- and product strategies and simulations that, for the first time in years, reinvigorated the company's offerings and reversed its revenue decline.  </li>
  <li><strong>Impact</strong> - The company now has a strategy for leveraging existing assets and technologies without having to rely on major investments to drive new revenue and deliver value to its customers. </li>
</ul>
