<div class="dl">
  <img class="banner" height="331px" width="1020px" src="/images/interactive/dl_interactive.jpg"/>
</div>
<div class="shell">
  <div class="container">
    <div class="box">
      <h1>Leveraging the Web to Strengthen the Brand and Generate Leads </h1>
      <p>
        Anerian is leading the movement to transform online interactive media assets into viable business models that have a significant impact on an organization’s bottom line.    
        As the web evolves, many organizations are looking anew at ways to leverage the medium: New content, new products, new services, new revenue streams. However, many businesses are still uncertain about the best way to position their business on the Internet. 
        We have helped scores of clients accelerate their time to new revenue by ensuring that their web sites are well positioned to generate maximum traffic and revenue.  
        Our team of interactive media experts excels at creating and delivering a comprehensive approach to helping organizations re-invent and refresh their web marketing strategy and product delivery.  
      </p>
      <p>
        We accomplish this with a set of proven services we call "The Anerian Way":
      </p>
      <ul>
        <li>Assessment with our diagnostic toolset</li>
        <li>Web-needs analysis and requirements definition</li>
        <li>Web design, development, implementation and hosting</li>
        <li>Content acquisition, development, strategy and programming</li>
        <li>Video creation, production and maintenance</li>
        <li>Creation of innovative tools like virtual conferences and video learning and innovation labs</li>
      </ul>
      <ul>
        <li><strong>Story</strong>: Anerian conducted a series of "innovation" workshops for a mid-sized diversity consulting firm, consolidated three of its web sites, defined a new brand image and provided a clear and direct way for the company to deliver an inventory of content it had built over 15 years. </li>
        <li><strong>Impact</strong>: The creation of a solitary web site that squarely targets the consulting company's five main audiences has resulted in lead and revenue generation and overall brand enhancement. </li>
        <li><strong>Impact</strong>: This interactive tool can be configured to download single events or annual events that require a subscription. The platform is completely adaptable as it provides maximum flexibility in how the user engages with it. </li>
      </ul>
    </div>
    <div class="box contact">
      <%= partial(:contact_us, {:target => 'Interactive Websites'}) %>
    </div>
  </div>
</div>
