<h1>Job eXchange</h1>
<h2>Quick tasks, quick results</h2>
<p>
With our Micro-Jobs product, prospective employers now can find short-term help more quickly – and job seekers can bid on tasks instantly.   
</p>
<p>
Employers and job seekers get a real-time ticker on their PC or Mac that lets them know instantly of job applicants and postings, respectively. Employers win, job seekers win, and you win! How perfect is that? 
</p>

<h3>Product Features:</h3>
<ul>
<li>Job seekers can create "ideal" task profiles</li>
<li>Job seekers get a scrolling ticker tape of new jobs</li>
<li>Employers get a scrolling ticker tape of applicants</li>
<li>Employers are guaranteed complete privacy</li>
<li>Exhibitors have their own virtual ad space</li>
<li>Associations and businesses can promote product</li>
</ul>
 
<h3>The Benefits:</h3>
<ul>
  <li>Get exceptional talent quickly for short jobs</li>
  <li>Post jobs and hire people regardless of location</li>
  <li>Gain access to the worldwide market</li>
  <li>The Benefits to Prospective Employees:</li>
  <li>Bid on short tasks in seconds</li>
  <li>Find tasks, or projects to do in spare time</li>
  <li>Expand workplace horizons</li>
</ul>
