<h1>Labs</h1>
<div id="sections">
  <div id="vcc" class="section">
    <a rel="lightbox" class="icon" href="/vcc"></a>
    <h2>Virtual Conference Center</h2>
  </div>
  <div id="vll" class="section">
    <a rel="lightbox" class="icon" href="/vll"></a>
    <h2>Video Learning Lab</h2>
  </div>
  <div id="jobx" class="section">
    <a rel="lightbox" class="icon" href="/jobx"></a>
    <h2>Job eXchange</h2>
  </div>
</div>
<% content_for :head do %>
  <link href="/css/lightbox.css" type="text/css" rel="stylesheet"/>
<% end %>
<% content_for :foot do %>
  <script type="text/javascript" src="/js/lb.js"></script>
<% end %>
