<!DOCTYPE html>
<html>
<head>
  <title>Anerian.com</title>
  <link href="/style.css?cc=<%= Time.now.to_i %>" type="text/css" rel="stylesheet"/>
  <% yield_content :head %>
</head>
<body<% if @path %> class="page <%= @path %>"<% end %> >
<!--[if IE]><div class="ie"><![endif]--><!--[if lt IE 7.]><div class="ie6"><![endif]-->
  <div id="header">
    <div class="ufocus">
      <% if @path %><h2><a href="/">Anerian</a></h2><% else %><h1><a href="/">Anerian</a></h1><% end %>
      <h3 class="noline"><a href="/blog">Insights</a></h3>
      <h3><a href="/anerian-way">Anerian Way</a></h3>
      <h3><a href="/lab">Lab</a></h3>
      <h3><a href="/consulting">Consulting</a></h3>
      <h3><a href="/our-team">Our Team</a></h3>
    </div>
  </div>
  <div id="content">
    <div class="ufocus">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="ufocus">
      1250 Connecticut Ave, NW Washington, DC, 20036 | e-mail: <a href="mailto:inquiries@anerian.com">inquiries@anerian.com</a> | T/888.945.8882 | F/866.467.0561
    </div>
  </div>
  <!--[if lt IE 7.]></div><![endif]-->
<!--[if IE]></div><![endif]-->
<% yield_content :foot %>
</body>
</html>
