<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Anerian.com</title>
  <link href="/style.css?cc=<%= Time.now.to_i %>" type="text/css" rel="stylesheet"/>
  <link rel="alternate" type="application/rss+xml" title="Anerian RSS Feed" href="/feed" />
  <% yield_content :head %>
</head>
<body<% if @path %> class="page <%= @path %>"<% end %> >
<!--[if IE]><div class="ie"><![endif]--><!--[if lt IE 7.]><div class="ie6"><![endif]-->
  <div id="header">
    <div class="ufocus">
      <% if @path %><h2><a href="/">Anerian</a></h2><% else %><h1><a href="/">Anerian</a></h1><% end %>
      <h3 class="noline"><a <% if @path == 'blog' %>class="selected" <% end %>href="/blog">Insights</a></h3>
      <h3><a <% if @path == 'anerian-way' %>class="selected" <% end %>href="/anerian-way">Anerian Way</a></h3>
      <h3><a <% if @path == 'consulting' %>class="selected" <% end %>href="/seminars">Seminars</a></h3>
      <h3><a <% if @path == 'strategy' %>class="selected" <% end %>href="/strategy">Strategy</a></h3>
      <h3><a <% if @path == 'our-team' %>class="selected" <% end %>href="/our-team">Our Team</a></h3>
      <% yield_content :sub_menu %>
    </div>
  </div>
  <div id="content">
    <div class="ufocus">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="ufocus">
      1250 Connecticut Ave, NW Washington, DC, 20036 | e-mail: <a href="mailto:inquiries@anerian.com">inquiries@anerian.com</a> | T/888.945.8882 | F/866.467.0561
    </div>
  </div>
<!--[if lt IE 7.]></div><![endif]--><!--[if IE]></div><![endif]-->
<% yield_content :foot %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-246931-12");
pageTracker._trackPageview();
</script>
</body>
</html>
