<div class="dl">
  <img class="banner" height="331px" width="1020px" src="/images/marketing/dl_marketing1.jpg"/>
</div>
<div class="shell">
  <div class="container">
    <div class="box">

      <h1>New Product and Go-to-market Strategies </h1>
      <ul>
        <li><strong>Problem</strong> - A mid-sized professional development division was seeking a fresh, new approach to market the company's education and training products. Revenue had started to decline and attendance had plummeted. The organization's attendees, in fact, were looking for a more flexible approach to learning. At the same time, the product-development team wanted to bring more value to current members and to simultaneously appeal to a younger audience. </li>
        <li><strong>Solution</strong> - Anerian conducted a study of the company’s product offerings and its membership and analyzed alternative approaches to creating a new market entry point and building an engine to generate leads for the company's main training programs. </li>
        <li><strong>Story</strong> - The client ended up with a comprehensive and highly creative marketing strategy to re-package its existing product line and publish high impact, web-based learning materials that appeal to current members and professionals just getting their start. </li>
        <li><strong>Impact</strong> - The client is now delivering a more compelling value proposition that attracts existing -- and new -- customers and also fits into its overall product plan.</li>
      </ul>
    </div>
    <div class="box contact">
      <%= partial(:contact_us, {:target => 'Marketing Consulting'}) %>
    </div>
  </div>
</div>
