<div class="dl">
  <img class="banner" height="331px" width="1020px" src="/images/mobile/dl_mobile.jpg"/>
</div>
<div class="shell">
  <div class="container">
    <div class="box">

      <h1>Mobile Products</h1>
      <cite>Deliver the Value "Where They Are"</cite>

      <h2>Smartphone Applications</h2>
      <ul>
        <li><strong>Problem</strong>: Companies have lots of mobile-application ideas, but no way to create or deploy them quickly.</li>
        <li>
          <strong>Solution</strong>: Our team of experts in mobile technology will help target market opportunities, develop and launch the platform and drive traffic and new revenue. The Anerian approach to identifying new revenue streams and crafting a successful launch strategy includes: 
          <ul>
            <li>Market assessment</li>
            <li>Product-requirements analysis</li>
            <li>Product development</li>
            <li>Implementation, hosting and marketing</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>Examples</strong>: Smart-phone applications that enable users to surface relevant videos, content and promotions at a museum or other tourist attraction, or to find and purchase consumer goods and services </li>
        <li><strong>Targets</strong>: Mid-sized firms that want to invest in new revenue streams in health care, education, energy and media through mobile-application innovation </li>
      </ul>
    </div>
    <div class="box contact">
      <%= partial(:contact_us, {:target => 'Mobile Apps'}) %>
    </div>
  </div>
</div>
