<div class="shell">
  <div class="container">
      <h1><%= @post.post_title %></h1>
      <div class="info">
        <span class="date">Posted <%= @post.post_date_gmt.strftime('%B %e, %Y') %></span>
        <span class="author"><%= @post.post_author %></span>
      </div>
      <div class="post">
        <div class="digg">
          <script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script> 
        </div>
        <%= @post.post_content %>
        <div class="clear"></div>
      </div>
    <div class="clear"></div>
  </div>
</div>
