<% content_for :head do %>
<link type="text/css" rel="stylesheet" href="http://static-cdn.weebly.com/weebly/images/common/common.css"/>
<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='0908592021',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return c.substring(i+n.
length+1,j<0?c.length:j)}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script><script>utmx("url",'A/B');</script>
<!-- End of Google Website Optimizer Control Script -->
<% end %>
<% content_for :sub_menu do %>
<div class="sub_menu">
  <ul>
    <li><a href="/seminars">Overview</a></li>
    <li><a href="http://seminars.anerian.com/i-driven-culture.html">I-Driven Culture</a></li>
    <li><a href="http://seminars.anerian.com/i-driven-services.html">I-Driven Services</a></li>
    <li><a href="http://seminars.anerian.com/i-driven-summit.html">I-Driven Summit</a></li>
    <li><a href="http://seminars.anerian.com/anerainovators.html">Anerainovators</a></li>
  </ul>
</div>
<% end %>
<div class="blog">
<div class="shell">
  <div class="container">
    <h2>High impact workshops for executives and service organizations</h2>
    <p>
      <img style="float:left; margin-right:15px;margin-bottom:5px;" src="http://seminars.anerian.com/uploads/4/1/6/2/41625/6551859.png?324x241" alt="Picture" />
      The fascinating thing about innovation is that it is a study of contrasts: everyone wants it, but can't describe it. Business leaders tout its importance to their future, but fail in leading their organizations to become systematically innovative, because there is little evidence of easy to apply frameworks, processes, practices or techniques to help.&nbsp; Our seminar series supports organizations aspiring to develop and sustain&nbsp;strategic&nbsp;service innovation tools and methods that are simple, pragmatic and fun to use.&nbsp; Our experts include experienced ideation specialists and consultants with decades of experience working with highly innovative companies including Apple, AOL, Gap Inc, IBM, and Revolution. &nbsp;</span></span><br /><br />Anerian is a leading provider of innovation consulting services, strategic innovation, and management innovation. &nbsp;Our team has worked with executives in Government, Associations, Health Care, Technology, Retail and Industrial companies to help them first understand what it means to have an innovation driven culture and then to find the right approach for their organization. &nbsp;We have expertise in all stages of the innovation cycle from ideation through implementation. &nbsp;Our teams are ready to help you re-think the way organizations re-define their business strategy, their competitive position or chronic structural problems that create barriers to growth.
    </p>

    <script type="text/javascript">
    if( (new String(window.location)).match(/submit-confirm/) ) { document.write("<h2>Thank you</h2>"); document.write("<div style='display:none'>") }
    </script>
    <form onsubmit="return true;" method="POST" action="http://leads.captico.com/leads/incoming" id="weeblyform">
      Call us today to schedule a workshop or for a free consultation on customizing a solution for your business or organization!
      <div class="formfield">
        <label class="field" for="lead_name">Name: </label>
        <input type="text" id="lead_name" name="lead[name]" class="text"/>
      </div>
      <div class="formfield">
        <label class="field" for="lead_email">Email Address: </label>
        <input type="text" id="lead_email" name="lead[email]" class="text"/>
      </div>
      <div class="formfield">
        <label class="field" for="lead_comments">Comments: </label>
        <textarea id="lead_comments" name="lead[fields[comments]]" class="text"></textarea>
      </div>         
      <input type="submit" value="Submit Information" class="button"/>
      <input type="hidden" name="dest" value="http://anerian.com/thankyou"/>
      <input type="hidden" name="lead[client_id]" value="1"/>
    </form>

    <script type="text/javascript">
    if( (new String(window.location)).match(/submit-confirm/) ) { document.write("</div>") }
    </script></div>
  </div>
</div>
<% content_for :foot do %>
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var pageTracker=_gat._getTracker("UA-246931-26");
pageTracker._trackPageview("/0908592021/test");
}catch(err){}</script>
<!-- End of Google Website Optimizer Tracking Script -->
<% end %>
