<div class="dl">
  <img class="banner" height="330px" width="950px" src="/images/strategy/dl_strategy.jpg"/>
</div>
<div class="shell">
  <div class="container">
    <div class="box">
      <h1>Strategy</h1>
      <p>
        Organizations continually struggle with problems that are multi-dimensional in scope and scale by trying to solve them with a two dimensional solution: Generating income and cutting costs.
      </p>
      <p>
        Health care, media companies, energy companies and retailers are all struggling with these and other business challenges, particularly in the current economy.
        Anerian brings a fresh approach to opening new markets and generating new revenue streams that is adaptable and collaborative while delivering results -- adaptable because no one solution fits all; collaborative because we believe that business leaders and executives need everyone pulling in the same direction to meet company goals and objectives.
      </p>
      <p>
        Through a unique collection of resources and capabilities, Anerian provides business leaders with an innovative perspective and proven methodology (The Anerian Way) to optimize and ensure enhanced business performance.
      </p>
      <ul>
        <li><strong>Story</strong>: A trade association was facing a staggering industry change. Its product mix hadn't been upgraded in years and its dated membership model was failing to retain existing members and acquire new ones. Anerian worked quickly and efficiently with the executive team to turn the tide. We presented a host of alternative and innovative business solutions aimed at helping the association refresh key aspects of its business. And, we facilitated the process of selection, design and implementation.    </li>
        <li><strong>Impact</strong>: The association is now positioned to weather the toughest economy in 60 years. By reinventing its way of doing business, it has a strong and viable go-to-market strategy that has led to the creation of sustainable product offerings for present and future growth. </li>
      </ul>
    </div>
    <div class="box contact">
      <h2>Contact us <cite>For Strategy Consulting</cite></h2>
      <form class="contact" method="POST" action="/interest?cat=strategy"><div>
        <label for="contact_name">Name: <input id="contact_name" type="text" name="name"/></label>
        <label for="contact_email">E-Mail: <input id="contact_email" type="text" name="email"/></label>
        <label for="contact_company">Company: <input id="contact_company" type="text" name="company"/></label>
        <label for="contact_message">Message: <textarea id="contact_message" name="message"></textarea></label>
        <input type="submit" value="Send"/>
        </div>
      </form>
    </div>
  </div>
</div>
