<div class="dl">
  <img class="banner" height="331px" width="1020px" src="/images/strategy/dl_strategy.jpg"/>
</div>
<h1>Strategy</h1>
<div class="shell">
  <div class="container">
    <div class="box">
      <p>
        Organizations continually struggle with problems that are multi-dimensional in scope and scale by trying to solve them with a two dimensional solution: Generating income and cutting costs.
      </p>
      <p>
        Health care, media companies, energy companies and retailers are all struggling with these and other business challenges, particularly in the current economy.
        Anerian brings a fresh approach to opening new markets and generating new revenue streams that is adaptable and collaborative while delivering results -- adaptable because no one solution fits all; collaborative because we believe that business leaders and executives need everyone pulling in the same direction to meet company goals and objectives.
      </p>
      <p>
        Through a unique collection of resources and capabilities, Anerian provides business leaders with an innovative perspective and proven methodology (The Anerian Way) to optimize and ensure enhanced business performance.
      </p>
      <ul>
        <li><strong>Story</strong>: A trade association was facing a staggering industry change. Its product mix hadn't been upgraded in years and its dated membership model was failing to retain existing members and acquire new ones. Anerian worked quickly and efficiently with the executive team to turn the tide. We presented a host of alternative and innovative business solutions aimed at helping the association refresh key aspects of its business. And, we facilitated the process of selection, design and implementation.    </li>
      </ul>
    </div>
    <div class="box contact">
      <img alt="Key Trends" style="float:left;margin-right:20px;margin-top:10px;" width="450" src="/images/strategy/key-trends.jpg"/>
      <ul>
        <li><strong>Impact</strong>: The association is now positioned to weather the toughest economy in 60 years. By reinventing its way of doing business, it has a strong and viable go-to-market strategy that has led to the creation of sustainable product offerings for present and future growth. </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="container">
    <div class="box">
      <h2>Our Expertise</h2>
      <ul>
        <li><strong>IT Innovation</strong>: Led major strategy efforts in top ten NGO’s and federal agencies in designing key aspects of their IT strategy. </li>
        <li><strong>Restructure not destruction</strong>: transformed a major trade association in 90 days – cutting $18m in costs and saving $2m in cash flow while retaining the essence of the business and culture </li>
        <li><strong>Organization Design</strong>: worked with many in the fortune 50 retailing in restructuring their business models </li>
        <li><strong>Partnership Alliances</strong>: created new business partnership models for one of the top five energy companies in the world </li>
        <li><strong>Government Innovation</strong>:  implemented a collaborative strategy and innovation process for many of the top 20 agencies in government, including Peace Corps, World Bank, DHS, OMB and OSD. </li>
        <li><strong>Product Innovators</strong>: Helped various media and education businesses launch over 30 successful products that have generated over $100m in revenue. </li>
        <li><strong>Health care technologies design </strong>: key architects in the requirements and design of digital technologies (one has over 1 million visitors / month) </li>
        <li><strong>Market Adoption</strong>: Over 50% of our innovations have made it to market successfully ~ 5 times the industry norm</li>
      </ul>
    </div>
    <div class="box">
      <h2>IT Strategy, Assessments and Requirements</h2>
      <img style="float:right" src="/images/strategy/leadership-alignment.png" width="216" height="200"/>
      <strong>Problem</strong>
      <p>The most vexing problems in Information Technology is the ability of the senior team to manage the myriad of needs, expectations, policies and crises that land at the door of the CIO and their executive team.  One only needs to look at a trade magazine to understand the breadth and depth of challenges these departments face on a daily, weekly and monthly basis.</p>
      <p>Further, the team faces a blizzard of advancements in enterprise level tools and systems that create a groundswell of interest with users and business departments – driving new requirements and expectations.</p>
      <strong>Solution</strong>
      <p>Anerian has worked with many IT executives in the trenches on implementing new processes and practices to deal with the crisis, the immediate and the long term.  We accomplish this by adapting proven techniques and tools and practices to the executive teams collective perspective, the culture, the business climate and the practical.  We have successfully helped many organizations across sectors build clear plans, gain commitment and agreement and implement practical approaches that when adopted deliver the desired results.</p>
    </div>
    <div class="clear"></div>
    <div class="box">
      <h2>Executive Alignment</h2>
      <cite>Strategies, Priorities &amp; Resources</cite>
      <img style="float:right" src="/images/strategy/key-trends-small.png" width="270" height="165"/>
      <ul>
      <li><strong>Problem</strong>: organizations continually struggle with problems that are multi-dimensional in scope and scale by trying to solve them with a two dimensional solution: income and costs.  Health care, media companies, energy companies and retailers are all struggling with a plethora of challenges </li>
      <li><strong>Solution</strong>: Anerian brings a fresh approach that is adaptable and collaborative while delivering results; adaptive because no one solution fits all, and collaborative because executives need everyone pulling in the same direction.</li>
      <li><strong>Story</strong>: a trade association was facing a staggering change in their industry, their product mix had not been substantially upgraded in years and their membership model was fading.  Anerian worked quickly with the executive team to help provide alternatives for how they could refresh key aspects of their business – presenting a host of innovative business alternatives and facilitated the process of selection, design and implementation.   </li>
      <li><strong>Impact</strong>: the organization has reinvented how they do business, go to market and create sustainable product offerings for future growth and are in a position to weather the toughest economy in 60 years.</li>
      </ul>
    </div>
    <div class="box">
      <h2>Collaborative Strategy</h2>
      <img style="float:right" src="/images/strategy/anerian-way.png" width="226" height="163"/>
      <strong>Problem</strong>
      <p>The complexities involved in implementing new strategies to take advantage of new opportunities or address chronic business has become more difficult with the virtual nature of work and the growth in partnerships (internal and external) necessary to make it happen!  Organizations now have the ability to see new opportunities quickly and want to adapt, speed to innovation has changed the landscape and opened whole new markets and mergers, alliances and joint ventures provide both great opportunity and peril at the same time.</p>
      <strong>Solution</strong>
      <p>Anerian has developed a proven technique for guiding teams and organizations throughout the innovation and planning cycle – balancing participation and meeting the deadlines.  We build the roadmap and compass along with a core team to ensure the approach will fit the business needs as well as the cultural dynamics that can so often slow progress.</p>
      <strong>Impact</strong>
      <p>"The Anerian Way" delivers a clear plan with high degrees of ownership and commitment.  The team has been engaged and contributed and the participants feel like they have been able to have an impact on the outcome.  This approach helps build the momentum necessary in any planning effort to get to the finish line.  Our expert consultants and facilitators are highly skilled and will deliver.</p>
    </div>
    <div class="clear"></div>
    <div class="box">
      <h2>Organization and Culture Design</h2>
      <ul>
      <li><strong>Problem</strong>:  An energy company had outsourced its site maintenance function to a third party.  The contract between the two parties led to micromanagement, reactive maintenance,  and a focus on task not customer.  </li>
      <li><strong>Solution</strong>: The two parties agreed to collaborate in developing a New Way of Working that led to local decision making, proactive maintenance, and customer focused work.  </li>
      <li><strong>Story</strong>:  The collaboration took a various forms: joint workshops, joint problem solving, mixed project teams, and jointly led learning events.  Together the teams designed, developed and delivered a comprehensive New Way of Working that included streamlined processes, one structure (not two), outcome based performance measures, and a joint Centre of Excellence.  </li>
      <li><strong>Impact</strong>: The value of working together to develop the design paid off in terms of a smooth transition and realization of immediate benefits.  Employees in both companies described the project in terms of real culture change.  As one person said  “I can finally do my job without someone looking over my shoulder the whole time – it’s led to massive performance improvements in the way my team handles customer requests”.  The bottom line results have been equally impressive with downtime reduced, customer satisfaction scores improved, and revenue up. </li>
      </ul>
    </div>
    <div class="box">
      <h2>Business re-invention</h2>
      <ul>
      <li><strong>The Problem</strong>: a national professional services firm that wanted to refresh their on-line image and create a whole new value proposition for their clients.  They had developed a rich library of material and training programs and they wanted to begin to build leverage into their business model.</li>
      <li><strong>Solution</strong>: Anerian did a detailed assessment of their market, their business and their vast inventory of rich media and training programs.  Through a series of collaborative business innovation workshops Anerian and the firm were able to develop a more compelling story, a focused market image and a new product offering that would enable them to deliver greater value to their clients.</li>
      <li><strong>Impact</strong>: The professional services firm has been able to combine the value of “high-touch” consulting so necessary in their field with real-time, high impact learning segments, leveraging their expertise and digital assets across a much larger market segment.</li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="box">
      <h2>Product Innovation</h2>
      <img style="float:right" src="/images/strategy/product-innovation.png" width="324" height="79"/>
      <ul>
        <li><strong>Problem</strong>: many professionals, associations and service organizations are struggling with an approach to provide more value to their clients and leveraging their myriad of digital assets, open source tools and the power of connections on the web (aka Social Networking).</li>
        <li><strong>Solution</strong>: The Anerian team are well known innovators for new web-applications that meet the need head on.  We have crafted many on-line product offerings in the form of new content and new tools in the areas of e-Learning, Career Development, Professional Development, Micro-Learning, and Rapid Job Locators.  We have a systematic approach that combines the wisdom of the team and the market to quickly identify new targets and revenue streams.</li>
        <li><strong>Story</strong>: Anerian has created a whole new genre of professional learning in creating a virtual learning delivery platform that enables professionals to view a sequence of video segments on a particular topic over coffee, lunch or on break and to create a wickedly sticky site that causes clients to continue to come back for more.</li>
        <li><strong>Impact</strong>: This service offering can be configured to download single events or subscribe on an annual basis – thus providing the user maximum flexibility in how they engage.</li>
      </ul>
    </div>
    <div class="box">
    </div>
    <div class="clear"></div>
  </div>
</div>
