<h1>Talent and Learning Solutions</h1>
<p>
  Creating a culture with a bias towards investing in new thinking around tools, processes and culture
</p>
<ul>
  <li><strong>Problem</strong>: An energy company outsourced the maintenance of its web site to a third party. The contract between the two parties resulted in micromanagement, reactive and inefficient maintenance and otherwise mismanagement. The focus became the task at hand -- not the customer.</li>
  <li><strong>Solution</strong>: Anerian helped the two parties collaborate in developing a "new way of working" that led to local decision making, proactive and efficient maintenance and customer-focused work.  </li>
  <li><strong>Story</strong>: This collaborative, new work approach took various forms: Joint workshops, joint problem solving, mixed project teams and jointly led learning events. Together, the parties designed, developed and delivered a comprehensive work plan that included streamlined processes, one structure (not two), outcome-based performance measures and a joint Centre of Excellence.  </li>
  <li><strong>Impact</strong>: The value of this approach led to the realization of immediate benefits. What's more, employees described the project in terms of "real culture change". As one employee said: "I can finally do my job without someone looking over my shoulder the whole time. Its led to massive performance improvements in the way my team handles customer requests". The bottom line results have been equally impressive with downtime reduced and customer satisfaction scores and revenue increased.  </li>
</ul>
