<%
  @path = 'blog'
%>
<h1>Thank you for your interest</h1>
<div class="shell">
  <div class="container">
    <div class="box">
      <p>We will be in touch soon.</p>
      <a href="/">Back to Anerian Home Page</a>
    </div>
  </div>
</div>
<% content_for :foot do %>
<!-- Google Website Optimizer Conversion Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var pageTracker=_gat._getTracker("UA-246931-26");
pageTracker._trackPageview("/0908592021/goal");
}catch(err){}</script>
<!-- End of Google Website Optimizer Conversion Script -->
<% end %>
