<%
  @path = 'blog'
%>
<h1>Thank you for your interest</h1>
<div class="shell">
  <div class="container">
    <div class="box">
      <p>We will be in touch soon.</p>
      <a href="/">Back to Anerian Home Page</a>
    </div>
  </div>
</div>
