<h1>The Video Learning Lab</h1>

<h2>Quick, Effective Learning Segments Over Coffee</h2>
<p>
We understand the pressures of today's busy professional. That's why we developed the Video Learning Lab (VLL). This unique product is aimed at helping time-pressed professionals learn about  - and stay abreast of - multiple subjects quickly, easily, and effectively. And in this day and time, we know how tough that can be!
</p>
<p>
The VLL, among other features, provides access to dozens of short (5 to 10-minute) learning video segments and gives experts a forum to deliver valuable content and share PowerPoint files and/or technical files - all in the context of accelerated learning!
</p>

<h3>Product Features:</h3>
<ul>
  <li>Online website dedicated to virtual attendees</li>
  <li>Members receive a login and can create profiles</li>
  <li>Members can “attend” the conference at their convenience/pace</li>
  <li>Expert instructors can build online profiles</li>
  <li>Video and technical publications sponsorship ads (where applicable) can be combined</li>
  <li>Customized assets can be developed and administered</li>
</ul>

<h3>The Benefits to You:</h3>
<ul>
  <li>Subscribers have full access to expert content</li>
  <li>Corporations can ensure consistent staff training</li>
  <li>Quick-hit learning lessons are easily deployed</li>
  <li>Experts can reach a wider audience cost effectively</li>
  <li>Expert video content is available to all subscribers/staff</li>
  <li>Use of training programs can be tracked</li>
  <li>No complex, lengthy development or implementation cycle is required</li>
</ul>
